<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Core" version="7.0.0-beta5-13266" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework.Core.FunctionalTests" version="1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework.InMemory" version="7.0.0-beta5-13266" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework.Relational" version="7.0.0-beta5-13266" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework.Relational.FunctionalTests" version="1.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Caching.Abstractions" version="1.0.0-beta5-11395" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-beta5-11395" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta5-11367" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta5-11367" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Configuration.Binder" version="1.0.0-beta5-11367" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.ConfigurationModel.Abstractions" version="1.0.0-beta5-11274" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta5-11396" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta5-11396" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta5-11388" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-beta5-11388" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta5-11365" targetFramework="net45" userInstalled="true" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" userInstalled="true" />
  <package id="Remotion.Linq" version="2.0.0-alpha-002" targetFramework="net45" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.34-rc" targetFramework="net45" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.1.0-beta2-build1055" targetFramework="net45" userInstalled="true" />
</packages>