<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
     <add key="AspNetVNext" value="https://dotnet.myget.org/F/aspnet-2-0-2-october2017-patch-public/api/v3/index.json" />
  </packageSources>
</configuration>
